@import '../../styles/variables.scss';

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-secondary;
    border-radius: $border-radius;
    border: $border-width $border-style $primary-color;
    color: $font-color;
    background-image: $background-image;
  }
  &__img {
    background-image: url('../../assets/img/logo.png');
    width: 8vw;
    height: 8vw;
    background-size: cover;
  }
  &__title {
    color: $secondary-color;
    font-size: $font-size-title;
    padding: $padding-secondary 0;
    color: $fivefold-color;
  }
  &__link-to-register {
    padding: $padding-secondary 0;
    color: $secondary-color;
    > .link {
      text-decoration: underline;
    }
  }
  &__label {
    padding: $padding-secondary;
    color: $primary-color;
  }
  &__input {
    display: flex;
    justify-content: space-between;
    &_form {
      width: 100%;
      background-image: $background-image;
      color: $fivefold-color;
      border: none;
      outline: none;
    }
    &_form::placeholder {
      color: $tetiary-color;
    }
    &_btn {
      border-color: $fivefold-color;
      background: transparent;
      width: 17px;
      height: 17px;
    }
  }
  &__input:focus,
  &__input:hover {
    border-color: $fivefold-color;
    outline: none;
  }
  &__input::placeholder {
    color: $tetiary-color;
  }
  &__user-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: $padding-secondary 0;
    color: $secondary-color;
    > .password-reset {
      color: $primary-color;
    }
  }
  &__submit {
    margin: $padding-secondary 0;
  }
  &__submit.btn {
    width: $width-btn;
  }
}

.btn {
  // width: 50px;
  padding: $padding-primary;
  background: $background-image;
  border-radius: $border-radius;
  border-color: $fivefold-color;
  color: $fivefold-color;
  cursor: pointer;
}

.input {
  width: $width;
  padding: $padding-primary;
  background-image: $background-image;
  border-radius: $border-radius;
  border-color: $primary-color;
  color: $fivefold-color;
  border-width: $border-width;
  border-style: $border-style;
}
