@import '../../styles/variables.scss';

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-secondary;
    border-radius: $border-radius;
    border: $border-width $border-style $primary-color;
    color: $font-color;
    background-image: $background-image;
  }
  &__title {
    color: $secondary-color;
    font-size: $font-size-title;
  }
  &__label {
    padding: $padding-secondary;
    color: $primary-color;
  }
  &__input {
    display: flex;
    justify-content: space-between;
    width: $width;
    padding: $padding-primary;
    background-image: $background-image;
    border-radius: $border-radius;
    border-color: $primary-color;
    color: $fivefold-color;
    border-width: $border-width;
    border-style: $border-style;
    &_form {
      width: $width;
      background-image: $background-image;
      color: $fivefold-color;
      border: none;
      outline: none;
    }
    &_form::placeholder {
      color: $tetiary-color;
    }
    &_btn {
      border-color: $fivefold-color;
      background: transparent;
      width: 17px;
      height: 17px;
    }
  }
  &__input:focus,
  &__input:hover {
    border-color: $fivefold-color;
    outline: none;
  }
  &__input::placeholder {
    color: $tetiary-color;
  }
  &__submit {
    margin: $padding-secondary 0;
  }
}

.btn {
  width: $width-btn;
  padding: $padding-primary;
  background: $background-image;
  border-radius: $border-radius;
  border-color: $fivefold-color;
  color: $fivefold-color;
  cursor: pointer;
}
