@import '../../styles/variables.scss';

.menu-bar {
  display: flex;
  justify-content: space-around;
  padding: $padding-menu-bar 0;
  z-index: 2;
}

.left-side-bar {
  padding: $padding-secondary;
  border-radius: $border-radius;
  border-width: $border-width;
  border-style: $border-style;
  height: fit-content;
  background-image: $background-image;
}

.right-side-bar {
  max-width: 60%;
  min-width: 60%;
}
