@import '../../styles/variables.scss';

.error-message {
  padding: calc(($font-size + 2px + $padding-primary* 2) / 2);
  color: $error-color;
}

.error-message.active {
  padding: $padding-primary;
}

.input-error>.password {
  color: $error-color;
}

.input-error,
.input-error:hover {
  border-color: $error-color;
  box-shadow: $box-shadow-error;
}