@import '../../styles/variables.scss';

.not-found {
  display: flex;
  justify-content: center;
  &__img {
    background-image: url('../../assets/img/404.png');
    background-size: cover;
    width: 60vw;
    height: 40vw;
  }
}
