@import '../../styles/variables.scss';

.checkbox {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: $padding-primary 0;
  color: $primary-color;
  &__input {
    margin-right: $padding-primary;
  }
}
