@import '../../styles/variables.scss';

.account {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding: $padding-primary $padding-secondary;
  }
  &__tabs {
    display: flex;
    justify-content: space-evenly;
    padding: $padding-primary $padding-secondary;
  }
  &__tab {
    padding: $padding-primary $padding-secondary;
    border-bottom: $border-width;
    cursor: pointer;
  }
  &__tab.active {
    border-bottom-style: $border-style;
    border-color: $fivefold-color;
  }
  &__details {
    display: flex;
    justify-content: space-around;
  }
}