@import '../../styles/variables.scss';

.account {
  padding: $padding-account-details 0;
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    padding: $padding-primary $padding-account-details-title;
  }
  &__line {
    width: calc(100% - ($padding-account-details * 2));
    border: $border-width-account-details $quaternary-color $border-style;
    margin: 0 $padding-account-details;
  }
  &__tabs {
    display: flex;
    justify-content: space-evenly;
    padding: $padding-primary $padding-secondary;
  }
  &__tab {
    padding: $padding-primary $padding-secondary;
    border-bottom-width: $border-width;
    border-bottom-style: $border-style;
    border-color: $quaternary-color;
    cursor: pointer;
  }
  &__tab.active {
    color: $fivefold-color;
    border-color: $fivefold-color;
  }
  &__details {
    display: flex;
    justify-content: space-around;
    padding: $padding-account-details 0;
    &_right-side,
    &_left-side {
      display: flex;
      flex-direction: column;
    }
  }
  &__label {
    padding: $padding-tetiary 0;
  }
}
