@import '../../styles/variables.scss';

.input {
  display: flex;
  justify-content: space-between;
  width: $width;
  padding: $padding-primary;
  background-image: $background-image;
  border-radius: $border-radius;
  border-color: $primary-color;
  color: $fivefold-color;
  border-width: $border-width;
  border-style: $border-style;
  &:focus {
    border-color: $fivefold-color;
    outline: none;
    box-shadow: $box-shadow;
  }
  &::placeholder {
    color: $tetiary-color;
  }
  &.input-error {
    border-color: $error-color;
    box-shadow: $box-shadow-error;
  }
  &:not(:disabled):hover {
    border-color: $fivefold-color;
    box-shadow: $box-shadow;
  }
  &_option {
    background-color: $background-color;
  }
  &_form {
    width: 100%;
    background-image: $background-image;
    color: $fivefold-color;
    border: none;
    outline: none;
  }
  &_form::placeholder {
    color: $tetiary-color;
  }
  &_btn {
    border-color: $fivefold-color;
    background: transparent;
    width: $width-input-btn;
    height: $height-input-btn;
  }
}
