@import '../../styles/variables.scss';

.nav {
  padding: $padding-primary $padding-secondary;
  font-size: $font-size-header;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &__item {
    list-style-type: none;
  }
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    width: $width-logo-header;
    height: $height-logo-header;
  }
  &__title {
    color: $secondary-color;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;
}

.link.active,
.link:hover {
  color: $fivefold-color;
  text-decoration: underline;
  text-shadow: $text-shadow;
}

.search {
  display: flex;
  &__loupe {
    margin-right: $padding-primary;
    border-color: $fivefold-color;
    background: transparent;
    width: $width-input-btn;
    height: $height-input-btn;
  }
  &__input {
    width: 100%;
    padding-left: $padding-primary;
    background-image: $background-image;
    color: $fivefold-color;
    border: none;
    outline: none;
  }
}

.logo {
  background-image: url('../../assets/img/logo.png');
  background-size: cover;
  margin-right: $margin-primary;
}
