@import '../../styles/variables.scss';

.nav {
  padding: $padding-primary $padding-secondary;
  font-size: $font-size-header;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
  }
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img {
    width: $width-logo-header;
    height: $height-logo-header;
    margin-right: $margin-secondary;
  }
  &__title {
    color: $secondary-color;
  }
}

.link {
  color: $primary-color;
  text-decoration: none;
  &.active > .header-item__wrapper > .header-item__title {
    color: $fivefold-color;
    text-shadow: $text-shadow;
  }
  &.active > .header-item__wrapper > .header-item__line {
    border-color: $fivefold-color;
  }
}

.logo {
  background-image: url('../../assets/img/logo.png');
  background-size: cover;
}
