@import '../../styles/variables.scss';

.input {
  display: flex;
  justify-content: space-between;
  width: $width;
  padding: $padding-primary;
  background-image: $background-image;
  border-radius: $border-radius;
  border-color: $primary-color;
  color: $fivefold-color;
  border-width: $border-width;
  border-style: $border-style;
  &_form {
    width: 100%;
    background-image: $background-image;
    color: $fivefold-color;
    border: none;
    outline: none;
  }
  &_form::placeholder {
    color: $tetiary-color;
  }
  &_btn {
    border-color: $fivefold-color;
    background: transparent;
    width: 17px;
    height: 17px;
  }
}

.input-error,
.input-error:hover {
  border-color: red;
}

.authentication-form__error-message.error-message.confirm-password
  ~ .authentication-form__input.input {
  border-color: red;
}

.authentication-form:has(.authentication-form__error-message.error-message.confirm-password)
  .input.confirm-password {
  border-color: red;
}

.error-message {
  color: red;
}
