@import '../../styles/variables.scss';

.search {
  display: flex;
  &__loupe {
    display: flex;
    margin-right: $padding-primary;
    padding: $padding-icon-loupe;
    background: transparent;
    cursor: pointer;
  }
  &__input {
    width: 100%;
    padding-left: $padding-primary;
    background-image: $background-image;
    color: $fivefold-color;
    border: none;
    outline: none;
  }
}
