@import '../../styles/variables.scss';

.sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 $padding-secondary;
  cursor: pointer;
  &.desc > &__icon {
    > .icon-arrow {
      transform: rotate(90deg);
    }
  }
  &__icon {
    > .icon-arrow {
      transform: rotate(-90deg);
    }
  }
  &:hover > &__title {
    color: $fivefold-color;
    transition: $transitionAllHalfSec;
  }
  &:hover > &__icon > .icon-arrow > g {
    fill: $fivefold-color;
    transition: $transitionAllHalfSec;
  }
}
