@font-face {
  font-family: 'Libre-Baskerville';
  src: url('../../assets/fonts/LibreBaskerville-Regular.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('../../assets/fonts/Kanit-Regular.ttf');
}
